*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
elpy
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
.mc-lists.el
anaconda-mode
smex-items
transient
request
personal/secret-functions.el
org-roam.db
